import {{name}} from "@clave/{{id}}";
import * as React from "react";
import style from "./style.module.css";

export default function Demo() {
  {{name}}();

  return (
    <div className={style.demo}>
    </div>
  );
}
