.container {
  border: 1px solid #1e1e1e;
  border-top: none;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #1e1e1e;
}

.tab {
  border: 1px solid transparent;
  background: none;
  margin: 0 0 -1px 0;
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: bold;
}

.tab.selected {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #1e1e1e;
  color: #d4d4d4;
  outline: none;
  border-color: #1e1e1e;
}

.tab.white.tab.selected {
  background: transparent;
  border-bottom-color: white;
  color: #1e1e1e;
}
